<mat-card class="goalsCard">ZIELE
  <mat-icon *ngIf="selectedRole == 'Mitarbeiter_in'" (click)="onAddPost(idloggedInUser)">add</mat-icon>

  <cdk-accordion class="example-accordion"
                 cdkDropList
                 #todoList="cdkDropList"
                 [cdkDropListData]="goalsToOneUser"
                 (cdkDropListDropped)="drop($event)">
    <cdk-accordion-item
      cdkDrag
      *ngFor="let goal of goalsToOneUser; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"

      (click)="setTheSelectedGoal(goal)"
      (click)="showTasks(goal._id)"
      (click)="setGoalsid(goal._id)">

      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">

        <mat-card class="goals-matcard">
          {{goal.description}}
        </mat-card>


        <span class="example-accordion-item-description">
           <mat-icon (click)="openDialog(goal._id)" *ngIf="selectedRole == 'Mitarbeiter_in'">
             edit
           </mat-icon>

          <mat-icon (click)="deleteDialog(goal._id)" *ngIf="selectedRole == 'Mitarbeiter_in'">
            cancel
          </mat-icon>
        </span>

      </div>

      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <app-todo [selectedRole]="selectedRole" [tasksToOneGoal]="tasksToOneGoal" [goalid]="showGoalid"
                  [tasksToTodo]="tasksToTodo" [tasksToDoing]="tasksToDoing" [tasksToDone]="tasksToDone"></app-todo>
      </div>

    </cdk-accordion-item>
  </cdk-accordion>
</mat-card>







<!--DESKTOP-->
<div class="main-div-desktop">
  <mat-grid-list cols="5" rowHeight="100%">
    <mat-grid-tile [colspan]="2">
      <mat-card class="goalsCard-desktop">ZIELE
        <mat-icon *ngIf="selectedRole == 'Mitarbeiter_in'" (click)="onAddPost(idloggedInUser)">add</mat-icon>

        <mat-card class="inner-cardGoals">
            <div cdkDropList
                 #todoList="cdkDropList"
                 [cdkDropListData]="goalsToOneUser"
                 class="example-list"
                 (cdkDropListDropped)="drop($event)">
              <mat-card (click)="setGoalsid(goal._id)"
                        [ngStyle]="{'background-color':goal === selectedGoal ? 'lightblue' : 'white' }"
                        class="greyGoalsCard example-box" *ngFor="let goal of goalsToOneUser" cdkDrag
                        (click)="setTheSelectedGoal(goal)" (click)="showTasks(goal._id)">
                <span class="icon-desktop">
                  <mat-icon (click)="deleteDialog(goal._id)" *ngIf="selectedRole == 'Mitarbeiter_in'">cancel</mat-icon>
                </span>

                <input class="input-styling" type="text" auxclick="this.readOnly=false" readonly="true"
                       ondblclick="this.readOnly=''" [(ngModel)]="goal.description" placeholder="Name des Goals"
                       name="desc" (keyup)="getTheInput($event)" aria-label="Edit" (keyup)="updateAGoal(goal)">

              </mat-card>
            </div>
        </mat-card>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-todo [selectedRole]="selectedRole" [tasksToOneGoal]="tasksToOneGoal" [goalid]="showGoalid"
                [tasksToTodo]="tasksToTodo" [tasksToDoing]="tasksToDoing" [tasksToDone]="tasksToDone"></app-todo>
    </mat-grid-tile>
  </mat-grid-list>
</div>
